.active{
  /* color:rgba(255, 255, 255, 1) !important; */
}
.aspire{
  display: flex;
  flex-direction: row;
  overflow: hidden;
  background: #667db6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.side{
  height: 100vh;
}
.body{
  height: 100vh;
  overflow-y: scroll;
  padding: 40px 40px;
  margin-left: 40px;
}
.content{
  padding:30px 55px;
}